/*
    Portfolio Page Styles
    Created by Matt Filer (2018)
*/

.container {
    height: 460px !important; /* -40px padding */
}
.project_box {
    width: calc(100vw-40px); /* -40px padding */
    height: 460px;
    background-color: grey;
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    color: white;
    padding: 50px;
    border-bottom: 20px solid white;
    filter: brightness(1);
    transition: filter 0.5s ease;
}
.project_box:hover {
    filter: brightness(1.1);
}
.project_box span {
    margin: auto;
    vertical-align: middle;
    display: table-cell;
    height: calc(500px - 40px); /* parent height */
    width: 650px;
}
.project_box h3 {
    font-size: 70px;
    margin: 0;
}

.project_minor {
    height: 250px !important;
}
.project_header {
    border-bottom: 0 !important;
    filter: brightness(1) !important;
    text-align: center;
    max-width: calc(100vw - 100px);
    height: 150px !important;
}
.project_header > a > i {
    font-size: 35px;
    position: relative;
    top: 40px;
}
.project_header > a {
    transition: 0.2s color ease-in-out;
}
.project_header > a:hover {
    color: black;
}
.project_details {
    background: white;
    color: black;
    text-shadow: none;
    text-align: left;
    padding: 40px;
    height: 100% !important;
}
.project_details > .breadcrumbs {
    text-align: center;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    margin-bottom: 30px;
    margin-top: -10px;
    font-style: italic;
}
.project_details > .breadcrumbs > p > a {
    text-decoration: none;
    font-weight: bold;
    transition: color 0.2s ease-in-out;
}
.project_details > .breadcrumbs > p > a:hover {
    color: black;
}
.proj_title {
    margin-bottom: 9px !important;
    margin-top: -9px !important;
}
.proj_subtitle {
    margin-top: 21px !important;
}
.proj_role_container {
    margin: 10px 0;
}
.proj_role {
    background: white;
    color: black;
    display: table;
    padding: 10px;
    border-radius:3px;
    font-size: 15px;
    text-shadow: none;
    font-weight:bold;
    display: inline;
}
.proj_role_highlight {
    background: lightgrey;
}
.project_divide_head {
    font-size:50px; 
    text-align:center; 
    margin-bottom:-30px;
    padding-top:10px;
    border-top:5px dotted black;
}
.project_jump_buttons {
    margin-top:-70px !important; 
    border:0 !important;
}

hr {
    margin: 50px 0;
}
img {
    width: 100%;
}
a {
    color: grey;
    text-decoration: underline;
}
a:hover {
    color: grey;
    text-decoration: none;
}

.top_prompt {
    position:fixed;
    bottom:0;
    right:0; 
    padding:20px;
    display:none;
}

.intro {
    background: white;
    text-shadow: none;
    color: black;
    padding: 50px 0;
    line-height: 0 !important;
}
.alienzombies {
    background: url('../IMG/project_alienzombies.jpg');
}
.pong {
    background: url('../IMG/project_pong.jpg');
}
.angrybirds {
    background: url('../IMG/project_angrybirds.jpg');
}
.hauntedhouse {
    background: url('../IMG/project_hauntedhouse.jpg');
}
.leveldesign {
    background: url('../IMG/project_leveldesign_alt.jpg');
}
.textadventuretool {
    background: url('../IMG/project_textadventuretool.jpg');
}
.eociv {
    background: url('../IMG/project_eoc.jpg');
}
.acmoverhaul {
    background: url("../IMG/project_acmoverhaul.jpg");
}
.spacerace {
    background: url('../IMG/project_racetospace.jpg');
}
.artstation {
    background: url('../IMG/project_artstation.jpg');
}
.homebasepos {
    background: url('../IMG/project_homebasepos_alt.jpg');
}
.hubcity {
    background: url("../IMG/project_hubcity.jpg");
}
.manorfarm {
    background: url("../IMG/project_manorfarm.jpg");
}
.alienmodtools {
    background: url("../IMG/project_alienmodtools.jpg");
}
.obscurity {
    background: url('../IMG/project_obscurity.jpg'); 
}
.autotraderfilm {
    background: url('../IMG/project_autotraderlynne.jpg'); 
    border-bottom: 0 !important; /* last in list */
}
.eplanner {
    background: url('../IMG/project_eplanner.jpg'); 
    background-position: top !important;
}
.vans {
    background: url('../IMG/project_vans.jpg');
}
.gloriouspropaganda {
    background: url('../IMG/project_gloriouspropaganda.jpg');
}
.plannedobsolescence {
    background: url('../IMG/project_plannedobsolescence.jpg');
}
.mariokart {
    background: url('../IMG/project_mariokart_placeholder.jpg');
}

@media (max-width: 768px) {
    .project_box h3 {
        font-size: 40px;
    }
    .project_minor {
        height: 460px !important; /* revert back to .project_box height */
    }
    .project_box:hover {
        filter: brightness(1);
    }
    .project_details {
        padding: 20px !important;
    }
    .top_prompt {
        width:60px !important;
        height:60px !important;
        bottom:0 !important;
        right:0 !important;
    }
    .project_jump_buttons > p > button {
        margin-bottom: 5px;
    }
    .project_divide_head {
        margin-bottom: 10px;
    }
}

@media (max-width: 390px) {
    .project_box h3 {
        font-size: 27px;
        word-break: break-word;
    }
}