@font-face {
    font-family: 'Roobert';
    src: url('roobert-regular-3fe213a3618624fd7b71-webfont.woff2') format('woff2'),
         url('roobert-regular-3fe213a3618624fd7b71-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roobert';
    src: url('roobert-semibold-df85158a0012c224b021-webfont.woff2') format('woff2'),
         url('roobert-semibold-df85158a0012c224b021-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Roobert';
    src: url('roobert-bold-7fda562c82c09fbabec2-webfont.woff2') format('woff2'),
         url('roobert-bold-7fda562c82c09fbabec2-webfont.woff') format('woff');
    font-weight: bolder;
    font-style: normal;
}